# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
.venv/

# Django
*.sqlite3
/staticfiles
/media
db.sqlite3

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyd
*.pyo

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Others
*.log
